body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b79999;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



main {
    margin: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}
img { 
    height: auto;
    width:100%;
}


footer {
    background-color: #2f1212;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}